PORT=8765
LOG_LEVEL=INFO

# Redis is only used for caching data and is optional,
# leave the URL empty if you prefer to use a memory cache:
REDIS_URL=
REDIS_PASSWORD=

DATABASE_URL="postgres://postgres:postgres@localhost:5432/ddd?sslmode=disable"

FOURSQUARE_CLIENT_ID=
FOURSQUARE_SECRET=
FOURSQUARE_BASE_URL=https://api.foursquare.com/v2

